# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.vscode
*.rar


# OBJ files
 *.bak /s
 *.ddk /s
 *.edk /s
 *.lst /s
 *.lnp /s
 *.mpf /s
 *.mpj /s
 *.obj /s
 *.omf /s
 *.plg /s
 *.rpt /s
 *.tmp /s
 *.__i /s
 *.crf /s
 *.o /s
 *.d /s
 *.axf /s
 *.tra /s
 *.dep /s           
 JLinkLog.txt /s

 *.iex /s
 *.htm /s
 *.sct /s
 *.map /s
